<phpunit
	bootstrap="../vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="display_errors" value="1" />
	</php>
    <testsuite name="Neo4j PHP Test Results">
        <directory>./unit</directory>
    </testsuite>
</phpunit>
